.buttonReset{
    all: unset;
    color: #9b4dca;
    cursor: pointer;
}
.buttonReset:hover{
    background-color: transparent;
    color: #5e2084;
}
.orientation{
    display: inline;
    font-weight: lighter;
    color: #9b4dca;
}